.item_cont {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 10rem;
    background-color: rgba(255, 255, 255,.8);
    padding-bottom: .4rem;
    border-radius: 1rem;
}

.item_cont_photo {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
    height: 10rem;
}

.item_cont p {
    padding: 0;
    margin: 0;
    padding-left: .5rem;
}

.item_cont .title {
    font-size: 1.3rem;
    font-weight: 400;
}

.item_cont .price {
    font-size: 1.1rem;
}