header {
    position: absolute;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 90vw;
    z-index: 999;
}

header .cont_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header button {
    height: 1.6rem;
    width: 1.6rem;
    background-color: transparent; 
    border: transparent;   
}

#photo_logo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5rem;
    background-color: black;
}

